<div class="col-md-4">

  <div class="card mb-4 shadow recipe" data-id="{{id}}">
    <img class="card-img-top" src="{{photo}}"" alt="Recipe">
    <div class="card-body">
      <h5 class="card-title">
        {{title}}
      </h5>
      <small class="text-muted">{{favCount}} Favourites</small>
      </p>

      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <a href="/recipe/{{id}}" class="btn btn-sm btn-outline-secondary btn-view-recipe">View</a>
          <a class="btn btn-sm btn-outline-secondary btn-favourite">
            {{#if isLiked }}
              <i class="fas fa-heart"></i>
            {{else}}
              <i class="far fa-heart"></i>
            {{/if}}
            </a>
        </div>
        <small class="text-muted">{{ favCount }} Favourites</small>
      </div>
    </div>
  </div>
</div>