<div class="row no-gutters bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="{{photo}}" class="w-100" alt="...">
  {{!-- link to image address url if any else default --}}
  </div>
  <div class="col-md-6 position-static p-4 pl-md-0">
    <h4 class="mt-0 ml-1 mb-3">
      {{ title }}
    </h4>
    <h6 class="ml-1 card-subtitle mb-2 text-muted">
      Created by:
      <a href="#">
        {{ recipe-owner }}
      </a>
      Favourites: {{favCount}}
    </h6>

    <div class="card" style="width: 15rem;">
      <ul class="list-group list-group-flush">
        {{#each ingredients }}
          {{> ingredient-block }}
        {{/each}}
      </ul>
    </div>
    <p class="mt-3 mb-3 ml-1">
<<<<<<< HEAD
      This is the recipe instruction.
      {{method}}
=======
      {{ instrutions }}
>>>>>>> 63c5f2b9217bc33dcb96fc0faf2cf669543eaae2
    </p>
    <div class="mt-3 d-flex bd-highlight mb-3">
      <a href="#" class="mr-auto p-2 bd-highlight">Previous</a>
      <a href="#" class="p-2 bd-highlight">Next</a>
    </div>
  </div>
</div>