<div class="row no-gutters bg-light position-relative recipe" data-id="{{recipeId}}">
  <div class="col-md-6 mb-md-0 p-md-4 flex-box">
      <img src="{{ photo }}" class="recipe-img mt-3 mg-a" alt="...">
  </div>
  <div id="alertText"></div>
  <div class="col-md-6 position-static p-4 pl-md-0">
    <div class="card mt-3">
      <ul class="card-body text-center">
        <h5 class="card-title">
          {{ recipeTitle }}
          {{#if username }}
          <a class="btn btn-sm btn-outline-secondary btn-favourite">
            {{#if isLiked }}
            <i class="fas fa-heart"></i>
            {{else}}
            <i class="far fa-heart"></i>
            {{/if}}
          </a>
          {{/if}}
        </h5>
        <h6 class="ml-1 card-subtitle mb-2 text-muted">
          Created by
          <a href="#">
            {{ author }}
          </a> {{ created }}. Active {{ updated }}.
        </h6>
        <h6 class="ml-1 card-subtitle mb-2 text-muted">
          {{favCount}}
          {{#greaterThan favCount 1}}
          people
          {{else}}
          person
          {{/greaterThan}} liked this recipe.
        </h6>

        <ul class="list-group list-group-flush">
          <li class="list-group-item"> {{ ingredients }} </li>
        </ul>
        <p class="mt-3 mb-3 ml-1">
          <span class="text-color">
            {{ method }}
          </span>
        </p>
        {{#if isAuthor }}
          <div class="mt-3 d-flex bd-highlight mb-3">
            <div class="btn-group mr-auto ml-auto" role="group" aria-label="Edit & delete button">
              {{#if isPrivate }}
                <button type="button" class="btn btn-danger btn-publish">Publish Recipe</button>
              {{/if}}
              <button type="button" class="btn btn-danger btn-edit">Edit</button>
              <button type="button" class="btn btn-danger btn-delete">Delete</button>
            </div>
          </div>
        {{/if}}
    </div>
  </div>

  <script src="/assets/js/favourite.js"></script>
  <script src="/assets/js/recipe.js"></script>
